version: '3.7'

services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
    container_name: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  app:
    build:
      context: .
      dockerfile: ./_docker/Dockerfile
    container_name: partier-api
    ports:
      - '8000:8000'
    depends_on:
      - db
    volumes:
      - ./src:/app/src